<?xml version='1.0' encoding='utf-8'?>
<widget id="chiro.crosst.chat" version="1.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>十字街</name>
    <description>
        十字街的 Cordova 封装。
    </description>
    <author email="mailto:mail@to.henrize.kim" href="https://crosst.chat">
        Henrize Kim and his friends...
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/imgs/android-icon-256x256.png"/>
    <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="www/imgs/android-icon-36x36.png" density="ldpi" />
        <icon src="www/imgs/android-icon-48x48.png" density="mdpi" />
        <icon src="www/imgs/android-icon-72x72.png" density="hdpi" />
        <icon src="www/imgs/android-icon-96x96.png" density="xhdpi" />
        <icon src="www/imgs/android-icon-144x144.png" density="xxhdpi" />
        <icon src="www/imgs/android-icon-192x192.png" density="xxxhdpi" />
    </platform>
</widget>
